{
  "plugins": ["@prettier/plugin-python"],
  "overrides": [
    {
      "files": "*.py",
      "options": {
        "parser": "python",
        "tabWidth": 4,
        "useTabs": false,
        "printWidth": 88
      }
    }
  ]
}
